<h1>Eat Da Burger!</h1>
<img src="../assets/img/burger-image.png" alt="image">

<h2>Burgers on the Wait List!</h2>

{{#each burgers}}
 {{#unless devoured}}
      {{> burgers/burger-block devour=true}}
    {{/unless}}
  

  <hr>
{{/each}}


<h2>Burgers that are devoured!</h2>
<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{> burgers/burger-block devour=false}}
    {{/if}}
  {{/each}}
</ul>



<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="bn">Burger Name:</label>
    <input type="text" id="bn" name="burger_name">
  </div>



  <button type="submit">Add Burger</button>
</form>